{% extends "admin/base_site.html" %}
{% load admin_static %}
{% load l10n %}
{% load humanize %}

{% block extrastyle %}
{% endblock %}

{% block title %}Портфель: {{ item.name }}{% endblock %}

{% block branding %}
<h1>Портфель: {{ item.name }}</h1>
{% endblock %}

{% block content %}
<h1>Сегодня {% now "d m Y, l" %}</h1>


<span style="font-size: 200%; color:black">Акции: {{ item.shares_price|floatformat:2 }}</span>

{% if item.shares_balance > 0 %}
<span style="font-size: 200%; color:green">&nbsp; +{{ item.shares_balance|floatformat:2 }} ({{ item.shares_yield|floatformat:2 }}%)</span>
{% else %}
<span style="font-size: 200%; color:red">&nbsp;  {{ item.shares_balance|floatformat:2 }}( {{ item.shares_yield|floatformat:2 }}%)</span>
{% endif %}

<br/>
<span style="font-size: 100%; color:black">С учетом выплаченных дивидендов:</span>

{% if item.shares_balance_dividends > 0 %}
<span style="font-size: 100%; color:green">&nbsp; +{{ item.shares_balance_dividends|floatformat:2 }} ({{ item.shares_yield_dividends|floatformat:2 }}%)</span>
{% else %}
<span style="font-size: 100%; color:red">&nbsp;  {{ item.shares_balance_dividends|floatformat:2 }}( {{ item.shares_yield_dividends|floatformat:2 }}%)</span>
{% endif %}


<table>
    <tr>
        <th>Инструмент</th>
        <th>Код</th>
        <th>Средняя</th>
        <th>Рынок</th>
        <th>Прибыль</th>
        <th>Сумма</th>
        <th>Доля, %</th>
        <th>Дивиденды</th>
        <th>Прибыль с дивидендами</th>
    </tr>
    {% for s in shares_info.shares %}
    <tr>
        <td><a href="{% url 'share_item' s.id %}">{{ s.share.short_name }}</a></td>
        <td>{{ s.share.sec_id }}</td>
        <td>{{ s.avg_price|floatformat:2 }}</td>
        <td>{{ s.last_history.legal_close_price|floatformat:2 }}</td>
        <td>
        {% if s.percent > 0 %}
        <span style="color:green">+{{ s.percent|floatformat:2 }} %</span>
        {% else %}
        <span style="color:red">{{ s.percent|floatformat:2 }} %</span>
        {% endif %}
        </td>
        <td>{{ s.last_history.price|floatformat:2 }}</td>
        <td>{{ s.portion|floatformat:2 }}</td>
        <td>{{ s.price_all_income|floatformat:2 }} ({{ s.income_yield|floatformat:2 }} %)</td>
        <td>
        {% if s.percent_with_income > 0 %}
        <span style="color:green">+{{ s.percent_with_income|floatformat:2 }} %</span>
        {% else %}
        <span style="color:red">{{ s.percent_with_income|floatformat:2 }} %</span>
        {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>



<hr/>
<br/>

<span style="font-size: 200%; color:black">Облигации: {{ item.bonds_cost|floatformat:2 }}</span>
<br />
<span style="font-size: 100%; color:black">Всего выплачено купонов:</span>
<span style="font-size: 100%; color:green">&nbsp; {{ item.bonds_coupons|floatformat:2 }} ({{ item.bonds_yield_coupons|floatformat:2 }}%)</span>


<table>
    <tr>
        <th>Инструмент</th>
        <th>Код</th>
        <th>Средняя</th>
        <th>Рынок</th>
        <th>Прибыль</th>
        <th>Стоимость позиции</th>
        <th>НКД</th>
        <th>Доля, %</th>
        <th>Выплаченные купоны</th>
    </tr>
    {% for s in item.bonds.all %}
    <tr>
        <td><a href="{% url 'share_item' s.id %}">{{ s.bond.short_name }}</a></td>
        <td>{{ s.bond.sec_id }}</td>
        <td>{{ s.avg_price|floatformat:2 }}</td>
        <td>{{ s.last_history.legal_close_price|floatformat:2 }}</td>
        <td>
        {% if s.percent > 0 %}
        <span style="color:green">+{{ s.percent|floatformat:2 }} %</span>
        {% else %}
        <span style="color:red">{{ s.percent|floatformat:2 }} %</span>
        {% endif %}
        </td>
        <td>{{ s.last_history.cost|floatformat:2 }}</td>
        <td>{{ s.nkd|floatformat:2 }}</td>
        <td>{{ s.portion|floatformat:2 }}</td>
        <td>{{ s.price_all_income|floatformat:2 }} ({{ s.income_yield|floatformat:2 }} %)</td>
    </tr>
    {% endfor %}
</table>



{% endblock %}
