{% extends "admin/base_site.html" %}
{% load admin_static %}
{% load l10n %}

{% block extrastyle %}
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

<style>
#chartdiv {
	width	: 100%;
	height	: 500px;
}
</style>

<script>
var chart = AmCharts.makeChart("chartdiv", {
    "type": "serial",
    "theme": "light",
    "marginRight": 40,
    "marginLeft": 40,
    "autoMarginOffset": 20,
    "mouseWheelZoomEnabled":true,
    "dataDateFormat": "YYYY-MM-DD",
    "valueAxes": [{
        "id": "v1",
        "axisAlpha": 0,
        "position": "left",
        "ignoreAxisWidth":true
    }],
    "balloon": {
        "borderThickness": 1,
        "shadowAlpha": 0
    },
    "graphs": [{
        "id": "g1",
        "balloon":{
          "drop":true,
          "adjustBorderColor":false,
          "color":"#ffffff"
        },
        "bullet": "round",
        "bulletBorderAlpha": 1,
        "bulletColor": "#FFFFFF",
        "bulletSize": 5,
        "hideBulletsCount": 50,
        "lineThickness": 2,
        "title": "red line",
        "useLineColorForBulletBorder": true,
        "valueField": "value",
        "balloonText": "<span style='font-size:18px;'>[[value]]</span>"
    }],
    "chartScrollbar": {
        "graph": "g1",
        "oppositeAxis":false,
        "offset":30,
        "scrollbarHeight": 80,
        "backgroundAlpha": 0,
        "selectedBackgroundAlpha": 0.1,
        "selectedBackgroundColor": "#888888",
        "graphFillAlpha": 0,
        "graphLineAlpha": 0.5,
        "selectedGraphFillAlpha": 0,
        "selectedGraphLineAlpha": 1,
        "autoGridCount":true,
        "color":"#AAAAAA"
    },
    "chartCursor": {
        "pan": true,
        "valueLineEnabled": true,
        "valueLineBalloonEnabled": true,
        "cursorAlpha":1,
        "cursorColor":"#258cbb",
        "limitToGraph":"g1",
        "valueLineAlpha":0.2,
        "valueZoomable":true
    },
    "valueScrollbar":{
      "oppositeAxis":false,
      "offset":50,
      "scrollbarHeight":10
    },
    "categoryField": "date",
    "categoryAxis": {
        "parseDates": true,
        "dashLength": 1,
        "minorGridEnabled": true
    },
    "export": {
        "enabled": true
    },
    "dataProvider": [
    {% for h in item.history.reverse %}
        {
            "date": "{{ h.date|date:'Y-m-d' }}",
            "value": {{ h.price|unlocalize }}
        },
    {% endfor %}
    ]
});

chart.addListener("rendered", zoomChart);

zoomChart();

function zoomChart() {
    chart.zoomToIndexes(chart.dataProvider.length - 40, chart.dataProvider.length - 1);
}
</script>
{% endblock %}

{% block title %}{{ item }}{% endblock %}

{% block branding %}
<h1>{{ item.portfolio.name }}: {{ item.share.short_name }} ({{ item.share.sec_id }})</h1>
{% endblock %}

{% block content %}
<h1>Сегодня {% now "d m Y, l" %}</h1>

<span style="font-size: 100%;">Портфель: <a href="{% url 'portfolio_item' item.portfolio.id %}">{{ item.portfolio.name }}</a></span>
<br/>
<br/>

<span style="font-size: 200%; color:black">{{ item.share.short_name }} ({{ item.share.sec_id }}): {{ item.last_history.price|floatformat:2 }}</span>

{% if item.balance > 0 %}
<span style="font-size: 200%; color:green">&nbsp; +{{ item.balance|floatformat:2 }} ({{ item.percent|floatformat:2 }}%)</span>
{% else %}
<span style="font-size: 200%; color:red">&nbsp;  {{ item.balance|floatformat:2 }}( {{ item.percent|floatformat:2 }}%)</span>
{% endif %}


<hr/>
<div id="chartdiv"></div>
<hr/>
{% if item.share.dividend_flag %}
<h2>Выплаченные дивиденды: {{ item.price_all_dividends|floatformat:2 }}</h2>
<table>
    <tr>
        <th>Инструмент</th>
        <th>Код</th>
        <th>Дата закрытия реестра</th>
        <th>Сумма выплат с учетом налогов</th>
        <th>Доходность на день выплаты, %</th>
    </tr>
    {% for t in item.dividends.all %}
    <tr>
        <td>{{ t.share_item.share.short_name }}</td>
        <td>{{ t.share_item.share.sec_id }}</td>
        <td>{{ t.dividend.date_registry_close }}</td>
        <td>{{ t.price|floatformat:2 }}</td>
        <td>{{ t.percent|floatformat:2 }}</td>
    </tr>
    {% endfor %}
</table>
<hr/>
{% endif %}

<h2>Сделки</h2>
<table>
    <tr>
        <th>Инструмент</th>
        <th>Код</th>
        <th>Дата</th>
        <th>Тип сделки</th>
        <th>Количество</th>
        <th>Цена одной</th>
        <th>Сумма</th>
        <th>Комментарий</th>
    </tr>
    {% for t in item.transactions.all %}
    <tr>
        <td>{{ t.share_item.share.short_name }}</td>
        <td>{{ t.share_item.share.sec_id }}</td>
        <td>{{ t.date }}</td>
        <td>{{ t.get_action_display }}</td>
        <td>{{ t.volume }}</td>
        <td>{{ t.price|floatformat:2 }}</td>
        <td>{{ t.total_price|floatformat:2 }}</td>
        <td>{{ t.comment }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

